.tooltip-content {
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);

  background-color: rgba(0, 0, 0, 0.85);

  color: #ffffff;
  padding: 0.875rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  /* 
  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out;

  opacity: 1;
  transform: scale(1);

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
    transform: scale(0.7);
  } */

  &[data-open] {
    animation: scaleIn 150ms ease-out;
  }

  &[data-close] {
    animation: scaleOut 150ms ease-in;
  }
}

.tooltip-trigger {
  cursor: pointer;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
